<!-- 参考bootstrap文档：https://v3.bootcss.com/javascript/#tabs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>后台管理页面</title>
    <link rel="stylesheet" media="screen" href="/static/bootstrap-3.4.1-dist/css/bootstrap.css">
</head>
    <style>
        .tabDiv{
            margin-left:100px;
            margin-right:100px;
            margin-top:30px;
            background:#CCC;
        }

        .tabContent{
            padding-top:20px;
            background:#FFF;
        }

        #user_mrg{
            height:400px;
            overflow-y: scroll;
        }

        .btn{
            margin-left:5px;
            margin-right:5px;
        }

        .table{
            margin-bottom:5px;
        }

    </style>
<body>

    <div class="tabDiv">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li id="nav_user_mrg" role="presentation" class="active"><a href="#user_mrg" aria-controls="user_mrg" role="tab" data-toggle="tab">用户管理</a></li>
        <li id="nav_module_mrg" role="presentation"><a href="#module_mrg" aria-controls="module_mrg" role="tab" data-toggle="tab">模型管理</a></li>
        <li id="nav_remark_mrg" role="presentation"><a href="#remark_mrg" aria-controls="remark_mrg" role="tab" data-toggle="tab">评论管理</a></li>
        <li id="nav_zonghe_mrg" role="presentation"><a href="#zonghe_mrg" aria-controls="zonghe_mrg" role="tab" data-toggle="tab">综合管理</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content tabContent">

        <!-- 用户管理 -->
        <div role="tabpanel" class="tab-pane active" id="user_mrg">
            <table>
                <tr>
                    <td width="20%"  align="center"><span>用户名：</span></td>
                    <td width="20%"  align="center"><input type="text" class="form-control" id="inputName" placeholder="请输入用户名"></td>
                    <td width="20%"  align="center"><span>用户状态：</span></td>
                    <td width="20%"  align="center">
                        <select id="combUserStatus" class="form-control combobox">
                          <option></option>
                          <option value="1">正常</option>
                          <option value="0">无效</option>
                        </select>
                    </td>
                    <td width="20%"  align="center"><button class="btn btn-success" onclick="getUserInfo()">查询</button></td>
                </tr>
            </table>
            <hr style="width:100%;">
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <td width="20%"><h4>Id</h4></td>
                        <td width="20%"><h4>用户名</h4></td>
                        <td width="20%"><h4>电话</h4></td>
                        <td width="20%"><h4>状态</h4></td>
                        <td width="20%"><h4>操作</h4></td>
                    </tr>
                  </thead>
            </table>
            <table class="table table-hover" id="table_1">
              <tbody id="user_mrg_table">
              </tbody>
            </table>
        </div>


        <!-- 模型管理 -->
        <div role="tabpanel" class="tab-pane" id="module_mrg">
            <table>
                <tr>
                    <td width="20%"  align="center"><span>模型名称：</span></td>
                    <td width="20%"  align="center"><input type="text" class="form-control" id="inputModuleName" placeholder="请输入模型名"></td>
                    <td width="20%"  align="center"><span>模型状态：</span></td>
                    <td width="20%"  align="center">
                        <select id="combModuleStatus" class="form-control combobox">
                          <option></option>
                          <option value="1">正常</option>
                          <option value="0">无效</option>
                        </select>
                    </td>
                    <td width="20%"  align="center"><button class="btn btn-success" onclick="getModuleInfo()">查询</button></td>
                </tr>
            </table>
            <hr style="width:100%;">
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <td width="14%"><h4>Id</h4></td>
                        <td width="14%"><h4>模型名</h4></td>
                        <td width="14%"><h4>作者</h4></td>
                        <td width="14%"><h4>模型编号</h4></td>
                        <td width="14%"><h4>标签</h4></td>
                        <td width="14%"><h4>状态</h4></td>
                        <td width="14%"><h4>操作</h4></td>
                    </tr>
                  </thead>
            </table>
            <table class="table table-hover">
              <tbody id="module_mrg_table">
              </tbody>
            </table>
        </div>


        <!-- 评论管理 -->
        <div role="tabpanel" class="tab-pane" id="remark_mrg">评论管理</div>
        <!-- 综合管理 -->
        <div role="tabpanel" class="tab-pane" id="zonghe_mrg">综合管理</div>
      </div>

    </div>

    <!-- scripts -->
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap.js"></script>

    <script>

        $(function(){
            // 默认展示用户管理页面
            getUserInfo();
        })

        // 点击Tab导航栏
        $('#nav_user_mrg').click(function (e) {
          e.preventDefault();
          getUserInfo();
        })

        $('#nav_module_mrg').click(function (e) {
          e.preventDefault();
          getModuleInfo();
        })

        $('#nav_remark_mrg').click(function (e) {
          e.preventDefault();
          getRemarkInfo();
        })

        ////////////////////////////////////////////////////////////////////////////////

        function getUserInfo(){
            var userName = $("#inputName").val();
            var status = $("#combUserStatus").val();
            $.ajax({
                url:"/gdmeta/userInfo/",
                type:"POST",
                data: {
                    "userName":userName,
                    "status":status
                },
                success: function(data){
                    console.log(data)
                    obj = JSON.parse(data)
                    if (obj.status == "success"){
                        parseUserInfo(obj.data)
                    }
                    if (obj.status == "failed"){
                        alert("用户名或者密码错误");
                    }
                    if (obj.status == "error"){
                        alert("服务器发生异常");
                    }
                }
            })
        }

        function parseUserInfo(data){

            var content = "";
            for(var i=0;i<data.length;i++){
                var item = data[i];
                content += "<tr>";
                content += '<td width="20%">'
                content += item[0];
                content += "</td>"
                content += '<td width="20%">'
                content += item[1];
                content += "</td>"
                content += '<td width="20%">'
                content += item[2];
                content += "</td>"
                var status = "正常";
                if(item[3] == 0){
                    status = "无效"
                }
                content += '<td width="20%">';
                content += status;
                content += "</td>"

                content += '<td width="20%">'
                content += '<button class="btn btn-danger" onclick="changeUserStatus($#$, 0)">删除</button>';
                content += '<button class="btn btn-primary" onclick="changeUserStatus($#$, 1)">复效</button>';
                content += "</td>"
                content += "</tr>";

                content = content.replaceAll("$#$", "'" + item[0] +"'");
            }

            var tableObj = document.getElementById("user_mrg_table");
            tableObj.innerHTML = content;
        }

        // 修改用户状态
        function changeUserStatus(userId, status){

            $.ajax({
                url:"/gdmeta/setUserStatus/",
                type:"POST",
                data: {
                    "userId":userId,
                    "status":status,
                },
                success: function(data){
                    console.log(data)
                    obj = JSON.parse(data)

                    if (obj.status == "success"){
                        alert("修改成功。");
                        getUserInfo();
                    }
                    if (obj.status == "failed"){
                        alert("修改失败");
                    }
                    if (obj.status == "error"){
                        alert("服务器发生异常");
                    }
                }
            })
        }

        //////////////////////////////////////////////////////////////////////////////

        function getModuleInfo(){
            var moduleName = $("#inputModuleName").val();
            var status = $("#combModuleStatus").val();
            $.ajax({
                url:"/gdmeta/moduleInfo/",
                type:"POST",
                data: {
                    "moduleName":moduleName,
                    "status":status
                },
                success: function(data){
                    console.log(data)
                    obj = JSON.parse(data)
                    if (obj.status == "success"){
                        parseModuleInfo(obj.data)
                    }
                    if (obj.status == "failed"){
                        alert("请求异常");
                    }
                    if (obj.status == "error"){
                        alert("服务器发生异常");
                    }
                }
            })
        }

        function parseModuleInfo(data){

            var content = "";
            for(var i=0;i<data.length;i++){
                var item = data[i];
                content += "<tr>";
                content += '<td width="14%">'
                content += item[0];
                content += "</td>"
                content += '<td width="14%">'
                content += item[1];
                content += "</td>"
                content += '<td width="14%">'
                content += item[2];
                content += "</td>"
                content += '<td width="14%">'
                content += item[3];
                content += "</td>"

                content += '<td width="14%">'
                var tags = item[4].split("#");
                for(var j=0;j<tags.length;j++){
                    content += '<span class="label label-info">' + tags[j] + '</span>'
                }
                content += "</td>"

                var status = "正常";
                if(item[5] == 0){
                    status = "无效"
                }
                content += '<td width="14%">';
                content += status;
                content += "</td>"

                content += '<td width="14%">'
                content += '<button class="btn btn-danger" onclick="changeModuleStatus($#$, 0)">删除</button>';
                content += '<button class="btn btn-primary" onclick="changeModuleStatus($#$, 1)">复效</button>';
                content += "</td>"
                content += "</tr>";

                content = content.replaceAll("$#$", "'" + item[0] +"'");
            }

            var tableObj = document.getElementById("module_mrg_table");
            tableObj.innerHTML = content;
        }

        // 修改模型状态
        function changeModuleStatus(moduleId, moduleStatus){

            $.ajax({
                url:"/gdmeta/setModuleStatus/",
                type:"POST",
                data: {
                    "moduleId":moduleId,
                    "status":moduleStatus,
                },
                success: function(data){
                    console.log(data)
                    obj = JSON.parse(data)

                    if (obj.status == "success"){
                        alert("修改成功。");
                        getModuleInfo();
                    }
                    if (obj.status == "failed"){
                        alert("修改失败");
                    }
                    if (obj.status == "error"){
                        alert("服务器发生异常");
                    }
                }
            })
        }

        //////////////////////////////////////////////////////////////////////////////

    </script>

</body>
</html>
